<%= form_tag job_search_path, :class => 'form-search' do%>
    <div>
      <%= text_field_tag :qry, nil, :class => 'input-medium search-query'%>
      <%= submit_tag ' Search ', :class => 'btn btn-primary'%>
    </div>
<%end%>